html{
  background:  url(https://cdn.dribbble.com/users/1086322/screenshots/3830216/autumn-dribbble.gif);
  background-size: contain;
}
*{
	margin:0px;
}
.container{
margin: 50px;
display: flex;
}
.logo{
	background: #D26D0F;
	width: 100%;
	display: flex;
	justify-content: center;
	height: auto;
}
.block{
width: 239px;
height: 327px;
left: 73px;
top: 302px;
display: flex;

background: #F9CF90;
}
.imagine{
	position: absolute;
width: 239px;
height: 198px;
left: 73px;
top: 301px;

background: #C4C4C4;
}
.adventaiges{
	width:86.5%;
	display: flex;
	justify-content: space-between; 
	text-align: center;
	flex-wrap: wrap;
	padding-top: 40px;
	padding-bottom: 40px;
	margin: auto ;
	background:url(images/c85748a69e1855f87f98519d11d89221.png);
}
.adventaiges_item{
max-width: 100%;
margin: 25px;
background-color: #FF8C00;
padding: 5px;
border-radius: 8%;
color: #A52A2A;
}
.adventaiges_item :hover{
	color: orange;
}
.kart{
	border-radius:8%; 
	opacity: 1;
}
.kart:hover{
opacity: 0.5;
}
p{
	margin: auto 10px;
	align-items: right;
	color: silver;
}
.menu__box{
	margin: 0px auto;
	position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    list-style-type: none;
    display: inline-flex;
    background-color:brown;
    padding: 10px;
    opacity: 80%;
}
.button{
	text-decoration: none;
    display: inline-flex;
    margin: 0 19px;
    background-color:#FF8C00 ; 
    padding: 10px;
    border-radius: 20%;
    font-family: 'Roboto', sans-serif;
    color: #A52A2A;
}
.button:hover{
background-color: #A52A2A;
color: #FF8C00;
opacity: 100%;
}

.menu__box:hover{
opacity: 100%
}
/* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}



/* Main content */
.main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */

}
footer{
	margin:0;
	max-width: 100%;
	background-color: #FF8C00;
    text-align: center;
padding: 10px 0px;
}
.social{
	margin-top: 10px;
	width: 50;
	height: auto;
}
.social :hover{
background-color: #A52A2A;
border-radius: 50%;
}
.Buy{
	text-decoration: none;
    border: none; outline: none; 
    background-color:#FF8C00 ; 
    font-family:  'Roboto', sans-serif;
    color: green;
}
.Buy:hover{
    background-color:green ; 
    border-radius: 30%;
}







@media screen and (max-width:994px){
	/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  text-align: center;
  background-color: #ECEFF1;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}
/* элементы меню */
.button {
  display: block;
  padding: 12px 24px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
.button :hover{
  background-color: #CFD8DC;
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: .25s;
}
.menu__box {
  transition-duration: .25s;
}
.menu__item {
  transition-duration: .25s;
}
}


@media screen and (max-width:635px){
	.adventaiges{
		width: 40%;

	}
	.adventaiges_item{
		padding: 20px;
	}
	.adventaiges_item h2{
    padding: 15px;
    border-radius: 10%;
    background-color:#D26D0F; 
    color: white;
	}
	.Buy{
    background-color: red;
    padding:10px 20px;
    border-radius: 10%;
    color: white;
	}
	html{
  background:  url(https://cdn.dribbble.com/users/1086322/screenshots/3830216/autumn-dribbble.gif);
  background-size: contain;
}
}

